extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			a(href='/blog')
				i.fa.fa-arrow-left.fa-2x &nbsp Regresar 
			hr
			if !data.post
				h2 Publicación inválida.
			else
				header
					h1= data.post.title
					h5 Publicado 
						if data.post.publishedDate
							| el #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| en 
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| por #{data.post.author.name.first + " " + data.post.author.name.last}
				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
